@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Images/bg-pattern-top-desktop.svg), url(Images/bg-pattern-bottom-desktop.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px 0px, 300px 120px;
    font-family: 'League', sans-serif;
}

#main{
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 8vh;
}

#main .main-text h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 9vh;
    color: hsl(300, 43%, 22%);
    margin-left: 5vw;
    padding-top: 2vh;
}

#main .main-text p{
    width: 32vw;
    color: hsl(303, 10%, 53%);
    font-size: 1.1rem;
    margin-left: 5vw;
    margin-top: 5vh;
    line-height: 3.5vh;
}

#main .ratings .rating1{
    border-radius: 6px;
    background-color: hsl(300, 24%, 96%);
    position: absolute;
    right: 15vw;
    top: 12vh;
    padding-top: 3vh;
    padding-right: 8vw;
    padding-bottom: 3vh;
    padding-left: 2vw;
}

#main .ratings .rating1 p{
    display: inline-block;
    padding-left: 3vw;
    color: hsl(300, 43%, 22%);
    font-weight: 800;
}

#main .ratings .rating2{
    border-radius: 6px;
    background-color: hsl(300, 24%, 96%);
    position: absolute;
    right: 9vw;
    top: 23vh;
    padding-top: 3vh;
    padding-right: 8vw;
    padding-bottom: 3vh;
    padding-left: 2vw;
}

#main .ratings .rating2 p{
    display: inline-block;
    padding-left: 3vw;
    color: hsl(300, 43%, 22%);
    font-weight: 800;
}

#main .ratings .rating3{
    border-radius: 6px;
    background-color: hsl(300, 24%, 96%);
    position: absolute;
    right: 6vw;
    top: 34vh;
    padding-top: 3vh;
    padding-right: 8vw;
    padding-bottom: 3vh;
    padding-left: 2vw;
}

#main .ratings .rating3 p{
    display: inline-block;
    padding-left: 3vw;
    color: hsl(300, 43%, 22%);
    font-weight: 800;
}

#review{
    display: grid;
    grid-template-columns: 100px 100px 10px;
    column-gap: 23vw;
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
}

#review .review1{
    position: relative;
    top: 4vh;
    left: 5vw;
    border-radius: 6px;
    width: 28vw;
    height: 40vh;
    background-color: hsl(300, 43%, 22%);
}

#review .review1 img{
    position: absolute;
    left: 3vw;
    top: 6.7vh;
    border-radius: 70px;
}

#review .review1 h4{
    position: absolute;
    left: 8.2vw;
    top: 7.6vh;
    color: hsl(0, 0%, 100%);
}

#review .review1 p{
    position: absolute;
    left: 8.2vw;
    top: 11.1vh;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

#review .review1 .main-text{
    position: absolute;
    top: 19vh;
    left: 0vw;
    margin-left: 1.5vw;
    width: 25vw;
    height: fit-content;
    line-height: 23px;
    color:hsl(0, 0%, 100%);
}

#review .review2{
    position: relative;
    top: 8vh;
    left: 5vw;
    border-radius: 6px;
    width: 28vw;
    height: 40vh;
    background-color: hsl(300, 43%, 22%);
}

#review .review2 img{
    position: absolute;
    left: 3vw;
    top: 6.7vh;
    border-radius: 70px;
}

#review .review2 h4{
    position: absolute;
    left: 8.2vw;
    top: 7.6vh;
    color: hsl(0, 0%, 100%);
}

#review .review2 p{
    position: absolute;
    left: 8.2vw;
    top: 11.1vh;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

#review .review2 .main-text{
    position: absolute;
    top: 19vh;
    left: 0vw;
    margin-left: 1.5vw;
    width: 25vw;
    height: fit-content;
    line-height: 23px;
    color:hsl(0, 0%, 100%);
}

#review .last-review{
    position: relative;
    top: 15vh;
    left: 5vw;
    border-radius: 6px;
    width: 28vw;
    height: 40vh;
    background-color: hsl(300, 43%, 22%);
}

#review .last-review img{
    position: absolute;
    left: 3vw;
    top: 6.7vh;
    border-radius: 70px;
}

#review .last-review h4{
    position: absolute;
    left: 8.2vw;
    top: 7.6vh;
    color: hsl(0, 0%, 100%);
}

#review .last-review p{
    position: absolute;
    left: 8.2vw;
    top: 11.1vh;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

#review .last-review .main-text{
    position: absolute;
    top: 19vh;
    left: 0vw;
    margin-left: 1.5vw;
    width: 25vw;
    height: fit-content;
    line-height: 23px;
    color:hsl(0, 0%, 100%);
}

#footer{
    background-color:hsl(333, 80%, 67%);
    color:hsl(300, 43%, 22%);
    padding: 1vh 0vw;
    text-align: center;
    font-size: 1.5rem;
}

@media (orientation: portrait) and (max-width: 425px){
    #main .main-text h1{
        font-size: 3rem;
        text-align: center;
    }

    #main .main-text p{
        border: 1px;
        width: 90vw;
        margin-top: 0vh;
        margin-left: 4vw;
        text-align: center;
    }

    #main .ratings .rating1{
        width: 70vw;
        top: 50vh;
        left: 14vw;
        padding-top: 3vh;
        padding-bottom: 6vh;
        padding-left: 20vw;
    }

    #main .ratings .rating1 p{
        display: block;
        position: absolute;
        left: 7vw;
        top: 7vh;
        font-weight: 800;
    }

    #main .ratings .rating2{
        width: 70vw;
        top: 64vh;
        left: 14vw;
        padding-top: 3vh;
        padding-bottom: 6vh;
        padding-left: 20vw;
    }

    #main .ratings .rating2 p{
        display: block;
        position: absolute;
        left: 3vw;
        top: 7vh;
        font-weight: 800;
    }

    #main .ratings .rating3{
        width: 70vw;
        top: 78vh;
        left: 14vw;
        padding-top: 3vh;
        padding-bottom: 6vh;
        padding-left: 20vw;
    }

    #main .ratings .rating3 p{
        display: block;
        position: absolute;
        left: 6vw;
        top: 7vh;
        font-weight: 800;
    }

    #review{
        height: 120vh;
        position: relative;
        top: 30vh;
    }

    #review .review1{
        width: 75vw;
        height: 35vh;
        position: relative;
        left: 13vw;
    }

    #review .review1 img{
        position: absolute;
        top: 4.6vh;
        width: 50px;
        height: 50px;
    }

    #review .review1 h4{
        position: absolute;
        left: 19vw;
        top: 5.6vh;
    }

    #review .review1 p{
        position: absolute;
        left: 19vw;
        top: 8.4vh;
    }

    #review .review1 .main-text{
        width: 65vw;
        position: absolute;
        top: 16vh;
        left: -7vw;
        margin-left: 7vh;
    }

    #review .review2{
        width: 75vw;
        height: 35vh;
        position: relative;
        left: -32.8vw;
        top: 42vh;
    }

    #review .review2 img{
        position: absolute;
        top: 4.6vh;
        width: 50px;
        height: 50px;
    }

    #review .review2 h4{
        position: absolute;
        left: 19vw;
        top: 5.6vh;
    }

    #review .review2 p{
        position: absolute;
        left: 19vw;
        top: 8.4vh;
    }

    #review .review2 .main-text{
        width: 65vw;
        position: absolute;
        top: 16vh;
        left: -7vw;
        margin-left: 7vh;
    }

    #review .last-review{
        width: 75vw;
        height: 35vh;
        position: relative;
        left: -79.1vw;
        top: 80vh;
    }

    #review .last-review img{
        position: absolute;
        top: 4.6vh;
        width: 50px;
        height: 50px;
    }

    #review .last-review h4{
        position: absolute;
        left: 19vw;
        top: 5.6vh;
    }

    #review .last-review p{
        position: absolute;
        left: 19vw;
        top: 8.4vh;
    }

    #review .last-review .main-text{
        width: 65vw;
        position: absolute;
        top: 16vh;
        left: -7vw;
        margin-left: 7vh;
    }

    #footer{
        position: relative;
        top: 30vh;
    }
}